/*
    WEEK6 HOMEWORK ASSIGNMENT
*/
* {
    font-family: 'Trebuchet MS', sans-serif;
}

p {
    font-size: large;
    margin-right: auto;
}

ul {
    list-style-type:none;
}

#div_top {
  width: auto;
  height: 100px;
  border: 2px solid black;
  margin: 10px;
  background-color:aquamarine;
  border-radius: 20px;
  vertical-align:middle;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center
}

#div_bottom {
    padding-top: 200px;
    font-size: smaller;
}

.img1 {
    height: 200px;
    width: 200px;
    padding-right: 30px;
    padding-bottom: 30px;
    float: right;
    background-color: darkgoldenrod;
    border: 20px groove red;
}

#navBar {
        
}
