 /* 
	WEEK9: LOGIN FORM STYLE SHEET
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:bisque;
    font-weight: 400;
    font-size: 20px;
    line-height: 2.0;
    padding: 2rem;
    max-width: 600px;
    margin-right:auto;
    margin-left:auto;
    padding-top:200px;
}

h1 {
    font-weight: 700;
    font-size: 2rem;
    color: rgb(0, 0, 128);
}

table {
    border: 0;
    border-collapse:collapse;
}

td {
    width:45%;
}

input[type="text"], input[type="password"] {
    width:150%;
    height:30px;
    font-size:1.0rem;
}

input[type="submit"], input[type="reset"] {
    color:white;
    color:white;
    font-size: 1.00rem;
    font-weight: bold;
    cursor:pointer;
    border-radius: 10px;
    width:50%;
    height:30px;
}

/* 
    CLASSES & ID DEFINITIONS 
*/

#button_red {
    background-color: red;
}

#button_green {
    background-color: green;
}

