/* 
    WEEK8 HOMEWORK ASSIGNMENT: SHELTER.CSS
*/

a {
    color: white;
    text-decoration: none;
}

body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    display:grid;
    grid-template-rows: 75px 1fr 50px;
    grid-template-columns: 15% 1fr;
    grid-template-areas: 
        "hdr hdr"
        "aside main"
        "ftr ftr" ;
}

header, aside, main, footer {
    padding: 20px;
    text-align: center;
}

header {
    grid-area: hdr;
}

header div, footer div {
    margin-left:auto;
    margin-right:auto;
}

aside {
    background-color: yellow;
    grid-area: aside;
}

aside > img {
    border-radius: 50%;
}

main {
    grid-area: main;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 8% 20%;
    justify-content: center;
    }

footer {
    grid-area: ftr;
}

header, footer {
    color: white;
    background-color: blue;
    align-items:center;
    display: inline-flex;
}

h1 {
    color: rgb(33,87,51);
}

p {
    color: blue;
}

.mascot {
    height: 50px;
    vertical-align: middle;
}

.amigo_div {
    background-color: lightblue;
    height: 200px;
    width: 200px;
    margin-right:10px;
    margin-bottom: 10px;
}

.amigo_div > img {
    width: 180px;
    height: 180px;
    margin-top: 10px;
}
